<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Guidelines</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ url_for('static', filename='images/favicon.png')}}" rel="icon">
    <link href="{{ url_for('static', filename='images/apple-touch-icon.png')}}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link
        href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.cssvendor/boxicons/css/boxicons.min.css')}}"
        rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1 class="text-light"><a href="home"><span>Outfit Oracle</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="static/images/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="home">Home</a></li>
                    <li><a class="nav-link scrollto" href="women">Women</a></li>
                    <li><a class="nav-link scrollto active" href="guidelines">Guidelines</a></li>
                    <!-- <li><a class="nav-link scrollto" href="contact">Contact</a></li> -->
                    <!--
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
          -->
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="guidelines" class="about section-bg">
            <div class="container">

                <div class="row justify-content-between">
                    <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
                        <img src="{{ url_for('static', filename='images/guidelines/user_img.png')}}" class="img-fluid" alt=""
                            data-aos="zoom-in" height="200px" width="400px">
                    </div>
                    <div class="col-lg-6 pt-5 pt-lg-5">
                        <h3 data-aos="fade-up">Step 1</h3>
                        <h5 data-aos="fade-up" data-aos-delay="100">
                            <br>
                            Upload your image by clicking on "Choose File" button and select your image.
                            <br>
                            Your posture should be erect with a plane background.
                        </h5>
                        <br>
                        <div class="text-color">
                        <h5 data-aos="fade-up" data-aos-delay="100">
                            Note: The minimum size of the image must be 8KB and maximum limit is 2MB.
                        </h5>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row justify-content-between">
                    <div class="col-lg-6 pt-5 pt-lg-5">
                        <h3 data-aos="fade-up">Step 2</h3>
                        <h5 data-aos="fade-up" data-aos-delay="100">
                            <br>
                            Upload your desired cloth image by clicking on "Choose File" button and select the image of the cloth you wish to try it on yourself.
                        </h5>
                        <br>
                        <div class="text-color">
                            <h5 data-aos="fade-up" data-aos-delay="100">
                                Note: The minimum size of the image must be 8KB and maximum limit is 2MB.
                            </h5>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
                        <img src="{{ url_for('static', filename='images/guidelines/desired_cloth.png')}}" class="img-fluid"
                            alt="" data-aos="zoom-in" height="200px" width="400px">
                    </div>
                </div>
                <br>
                <br>
                <div class="row justify-content-between">
                    <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
                        <img src="{{ url_for('static', filename='images/guidelines/submit_img.png')}}" class="img-fluid"
                            alt="" data-aos="zoom-in" height="200px" width="400px">
                    </div>
                    <div class="col-lg-6 pt-5 pt-lg-5">
                        <h3 data-aos="fade-up">Step 3</h3>
                        <h5 data-aos="fade-up" data-aos-delay="100">
                            <br>
                            Click on the "Submit" button to see the result.
                        </h5>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-8 footer-contact">
                        <h3>Outfit Oracle</h3>
                        <p>
                            Pillai College of Engineering <br>
                            New Panvel<br>
                            India <br><br>
                            <strong>Phone:</strong> +912 345 67890<br>
                            <strong>Email:</strong> outfitoracle@gmail.com<br>
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-8 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="home">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="women">Women</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="guidelines">Guidelines</a></li>
                            <!-- <li><i class="bx bx-chevron-right"></i> <a href="contact">Contact</a></li> -->
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>About our Project</h4>
                        <p>Virtual try-on means that consumers try on cloth virtually using their phones or tablets.</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/aos/aos.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js')}}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>

</body>

</html>