{% extends 'base.html' %} {% block title %}Homepage {% endblock title %} {%
block carousel %}
<div id="header-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 410px">
      <img class="img-fluid" src="../static/img/carousel-1.jpg" alt="Image" />
      <div
        class="carousel-caption d-flex flex-column align-items-center justify-content-center"
      >
        <div class="p-3" style="max-width: 700px">
          <h4 class="text-light text-uppercase font-weight-medium mb-3">
            10% Off Your First Order
          </h4>
          <h3 class="display-4 text-white font-weight-semi-bold mb-4">
            Fashionable Dress
          </h3>
          <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
        </div>
      </div>
    </div>
    <div class="carousel-item" style="height: 410px">
      <img class="img-fluid" src="../static/img/carousel-2.jpg" alt="Image" />
      <div
        class="carousel-caption d-flex flex-column align-items-center justify-content-center"
      >
        <div class="p-3" style="max-width: 700px">
          <h4 class="text-light text-uppercase font-weight-medium mb-3">
            10% Off Your First Order
          </h4>
          <h3 class="display-4 text-white font-weight-semi-bold mb-4">
            Reasonable Price
          </h3>
          <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
    <div class="btn btn-dark" style="width: 45px; height: 45px">
      <span class="carousel-control-prev-icon mb-n2"></span>
    </div>
  </a>
  <a class="carousel-control-next" href="#header-carousel" data-slide="next">
    <div class="btn btn-dark" style="width: 45px; height: 45px">
      <span class="carousel-control-next-icon mb-n2"></span>
    </div>
  </a>
</div>
{% endblock carousel %} {%block body %}
<!-- Featured Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px">
        <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px">
        <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
        <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px">
        <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
      <div class="d-flex align-items-center border mb-4" style="padding: 30px">
        <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
        <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
      </div>
    </div>
  </div>
</div>
<!-- Featured End -->

<!-- Categories Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5 pb-3">
    <div class="col-lg-4 col-md-6 pb-1">
      <div
        class="cat-item d-flex flex-column border mb-4"
        style="padding: 30px"
      >
        <p class="text-right">15 Products</p>
        <a
          href="{{url_for('search_result' , a = 'Tshirts')}}"
          class="cat-img position-relative overflow-hidden mb-3"
        >
          <img class="img-fluid" src="../static/img/cat-1.jpg" alt="" />
        </a>
        <h5 class="font-weight-semi-bold m-0" style="padding-top: 70px">
          Men's Dresses
        </h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div
        class="cat-item d-flex flex-column border mb-4"
        style="padding: 30px"
      >
        <p class="text-right">15 Products</p>
        <a
          href="{{url_for('search_result' , a = 'Dresses')}}"
          class="cat-img position-relative overflow-hidden mb-3"
        >
          <img class="img-fluid" src="../static/img/cat-2.jpg" alt="" />
        </a>
        <h5 class="font-weight-semi-bold m-0" style="padding-top: 70px">
          Women's dresses
        </h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div
        class="cat-item d-flex flex-column border mb-4"
        style="padding: 30px"
      >
        <p class="text-right">15 Products</p>
        <a
          href="{{url_for('search_result' , a = 'Belts')}}"
          class="cat-img position-relative overflow-hidden mb-3"
        >
          <img class="img-fluid" src="../static/img/cat-5.jpg" alt="" />
        </a>
        <h5 class="font-weight-semi-bold m-0">Belts</h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div
        class="cat-item d-flex flex-column border mb-4"
        style="padding: 30px"
      >
        <p class="text-right">15 Products</p>
        <a
          href="{{url_for('search_result' , a = 'Watches')}}"
          class="cat-img position-relative overflow-hidden mb-3"
        >
          <img class="img-fluid" src="../static/img/cat-4.jpg" alt="" />
        </a>
        <h5 class="font-weight-semi-bold m-0" style="padding-top: 50px">
          Watches
        </h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div
        class="cat-item d-flex flex-column border mb-4"
        style="padding: 30px"
      >
        <p class="text-right">15 Products</p>
        <a
          href="{{url_for('search_result' , a = 'Handbags')}}"
          class="cat-img position-relative overflow-hidden mb-3"
        >
          <img class="img-fluid" src="../static/img/cat-3.jpg" alt="" />
        </a>
        <h5 class="font-weight-semi-bold m-0" style="padding-top: 17px">
          Handbags
        </h5>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 pb-1">
      <div
        class="cat-item d-flex flex-column border mb-4"
        style="padding: 30px"
      >
        <p class="text-right">15 Products</p>
        <a
          href="{{url_for('search_result' , a = 'Casual Shoes')}}"
          class="cat-img position-relative overflow-hidden mb-3"
        >
          <img class="img-fluid" src="../static/img/cat-6.jpg" alt="" />
        </a>
        <h5 class="font-weight-semi-bold m-0">Shoes</h5>
      </div>
    </div>
  </div>
</div>
<!-- Categories End -->

<!-- Offer Start -->
<div class="container-fluid offer pt-5">
  <div class="row px-xl-5">
    <div class="col-md-6 pb-4">
      <div
        class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5"
      >
        <img src="../static/img/offer-1.png" alt="" />
        <div class="position-relative" style="z-index: 1">
          <h5 class="text-uppercase text-primary mb-3">
            20% off the all order
          </h5>
          <h1 class="mb-4 font-weight-semi-bold">Spring Collection</h1>
          <a href="" class="btn btn-outline-primary py-md-2 px-md-3"
            >Shop Now</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-6 pb-4">
      <div
        class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5"
      >
        <img src="../static/img/offer-2.png" alt="" />
        <div class="position-relative" style="z-index: 1">
          <h5 class="text-uppercase text-primary mb-3">
            20% off the all order
          </h5>
          <h1 class="mb-4 font-weight-semi-bold">Winter Collection</h1>
          <a href="" class="btn btn-outline-primary py-md-2 px-md-3"
            >Shop Now</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Offer End -->

<!-- Subscribe Start -->
<div class="container-fluid bg-secondary my-5">
  <div class="row justify-content-md-center py-5 px-xl-5">
    <div class="col-md-6 col-12 py-5">
      <div class="text-center mb-2 pb-2">
        <h2 class="section-title px-5 mb-3">
          <span class="bg-secondary px-2">Stay Updated</span>
        </h2>
        <p>
          Stay updated about our new products by just subscribing with your
          mail!
        </p>
      </div>
      <form action="">
        <div class="input-group">
          <input
            type="text"
            class="form-control border-white p-4"
            placeholder="Email Goes Here"
          />
          <div class="input-group-append">
            <button class="btn btn-primary px-4">Subscribe</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Subscribe End -->

{% endblock body %}
