{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Bootsrap 4 CDN-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!--Fontawesome CDN-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <!--Custom styles-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/loginstyles.css"
    />
  </head>

  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      class="alert alert-{{ category }} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
    </div>

    {% endfor %} {% endif %} {% endwith %}
    <div class="d-flex justify-content-center h-100">
      <div class="card car">
        <div class="card-header">
          <h3>Sign In</h3>
          <div class="d-flex justify-content-end social_icon">
            <span><i class="fab fa-facebook-square"></i></span>
            <span><i class="fab fa-google-plus-square"></i></span>
            <span><i class="fab fa-twitter-square"></i></span>
          </div>
        </div>
        <div class="card-body">
          <form method="POST" action="/login">
            <div class="input-group form-group">
              <!-- <div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div> -->
              {{ form.hidden_tag() }}
              <!-- <input type="text" class="form-control" placeholder="username"> -->
              <div style="color: yellow; width: 100%">
                {{ wtf.form_field(form.username) }}
              </div>
            </div>
            <div class="input-group form-group">
              <div style="color: yellow; width: 100%">
                {{ wtf.form_field(form.password) }}
              </div>
            </div>
            <div class="row align-items-center remember">
              {{wtf.form_field(form.remember)}}
            </div>
            <div class="form-group">
              <input
                type="submit"
                value="Login"
                class="btn float-right login_btn mt-3"
              />
            </div>
            <input
              type="hidden"
              name="next"
              value="{{ request.args.get('next', '') }}"
            />
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account?<a
              href="{{url_for('signup')}}"
              style="color: yellow"
              >Sign Up</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
